<body style="background-color:#FFE7BA;"><h1>ADSIDERA APP</h1>
<p>Please contact me at <a href="mailto:adsideradeveloping@gmail.com">adsideradeveloping@gmail.com</a></p>
    <p>Or call me at 0176/15234656</p>
</body>